In [42]:
from datetime import datetime

import pandas as pd
import numpy as np

In [43]:
path = ("/Users/Davidaarhus/Documents/CPSC_393/RetailData.csv")
retail = pd.read_csv(path)

In [50]:
retail

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/10 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/10 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/10 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/10 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/10 8:26,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,12/9/11 12:50,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,12/9/11 12:50,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,12/9/11 12:50,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,12/9/11 12:50,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,12/9/11 12:50,4.95,12680.0,France

In [62]:
onePercent_sup = .01
fivePercent_sup = .05
tenPercent_sup = .10
twentyPercent_sup = .20
thirtyPercent_sup = .30

onePercentfreq_itemset = []
fivePercentfreq_itemset = []
tenPercentfreq_itemset = []
twentyPercentfreq_itemset = []
thrityPercentfreq_itemset = []

data_length = len(retail)

In [58]:
data_length

541909

In [72]:
itemset = {}

In [73]:
# creates frequent candidate 1-itemset by scaning dataset
for transaction in retail:
    for item in transaction:
        if item not in itemset:
            itemset[item] = 1
        else:
            itemset[item] += 1

In [74]:
itemset

{'I': 3,
 'n': 6,
 'v': 2,
 'o': 8,
 'i': 7,
 'c': 5,
 'e': 7,
 'N': 1,
 'S': 1,
 't': 8,
 'k': 1,
 'C': 3,
 'd': 1,
 'D': 3,
 's': 2,
 'r': 4,
 'p': 1,
 'Q': 1,
 'u': 3,
 'a': 2,
 'y': 2,
 'U': 1,
 'P': 1,
 'm': 1}